<div class="chart-area">
    <div class="blog-card">
        <%= render :partial => "shared/tradingview", locals: { symbol_code: "NASDAQ:AAPL", container_id: "tradingview_38b56"} %>
    </div>

    <div class="blog-card">
        <%= render :partial => "shared/tradingview", locals: { symbol_code: "MIL:B", container_id: "tradingview_d84c3"} %>
    </div>

    <div class="blog-card">
        <%= render :partial => "shared/tradingview", locals: { symbol_code: "MIL:B", container_id: "tradingview_d84c3"} %>
    </div>

    <div class="blog-card">
        <%= render :partial => "shared/tradingview", locals: { symbol_code: "MIL:B", container_id: "tradingview_d84c3"} %>
    </div>
    
    <div class="blog-card">
        <%= render :partial => "shared/tradingview", locals: { symbol_code: "MIL:B", container_id: "tradingview_d84c3"} %>
    </div>
</div>
