<div class="chart-selectbox-group">
    <%= form_tag({ :controller => "/chart", :action => "index" },{ :id => "select_form_id"}) do %>

        <%# select_tag("select_mylist", options_for_select(@mylists.pluck(:name))) %>

        <div class="">
            <select id="time_id" name="time_id" class="time-select" onchange="this.form.submit()">
                <option value="2" <%= @time_id == 2 ? "selected" : "" %>>日足</option>
                <option value="3" <%= @time_id == 3 ? "selected" : "" %>>週足</option>
                <option value="4" <%= @time_id == 4 ? "selected" : "" %>>月足</option>
            </select>
        </div>
    <% end %>

    <select class="grid-select">
        <option value="1">〓</option>
        <option value="2">■■■</option>
    </select>
</div>

<% @mylists.each do |mylist| %>
    <h2 class="mylist"><%= mylist.name %></h2>
    <div class="chart-area">
        <% TradingView.where(stock_id: mylist.stocks.pluck(:id)).each do |tradingview| %>
            <% unless tradingview.nil? %>
                <div class="blog-card">
                    <%= render :partial => "shared/tradingview", locals: { symbol_code: tradingview.code, container_id: tradingview.container_id, time: @time} %>
                    <%= image_tag 'resize.png', class: "icon-resize" %>
                    <div class="btn-circle-3d"><%= image_tag 'trash.png', class: "icon-trash" %></div>
                </div>
            <% end %> 
        <% end %> 
    </div>
<% end %> 
