
<p>検索</p>
<%= form_tag({ :controller => "/stock", :action => "index" },{ :id => "search_form_id"}) do %>
  <%= text_field_tag :search , '',:placeholder => "銘柄コードを入力" %>
  <%= submit_tag '検索', :name => nil , :style => "width: 50px;"%>
<% end %>

<table class='table-stocks'>
    <tr class='table-index-th'>
        <th></th>
        <th>銘柄コード</th>
        <th>企業名</th>
        <th style="width: 50%">説明</th>
        <th>市場</th>
    <tr>
    <%= paginate @stocks %>
    <% @stocks.each do |stock| %>
        <tr class='table-index-tr' stock_id="<%= stock.id %>", data-href="https://jp.tradingview.com/symbols/<%= stock.market + "-" + stock.code %>/ideas" target="_blank">
            <td><%= image_tag 'machine.jpg' %></td>
            <td><%= stock.code %></td>
            <td><%= stock.client_name %></td>
            <td><%= stock.explain %></td>
            <td><%= stock.market %></td>
        </tr>
    <% end %>
</table>

<div id="mylist-dropdown">
  <p class="astarisk">ESCで閉じる</p>
  <a href="javascript void(0)" id="trd-idea-link" target="_blank"><p>アイディアを見る</p></a>
  <p class="astarisk">My List</p>
  <p>【定期的に吹くやつ】に追加</p>
  <p>【定期的に吹くやつ】に追加</p>
  <p>リストを新規作成</p>
</div>