
<div id="stock-header">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <%= form_tag({ :controller => "/stock", :action => "index" },{ :id => "search_form_id", :class => "search_container"}) do %>
    <input type="text" name="search" size="25" placeholder="銘柄コードを入力">
    <input type="submit" value="&#xf002">
  <% end %>
</div>
<div id="stock-chart">
  <%= image_tag 'smile.png', class: "icon-chart-ast" %>
  <div id="chart_container">
  </div>
</div>

<table class='table-stocks'>
    <tr class='table-index-th'>
        <th class="first"></th>
        <th>銘柄コード</th>
        <th>企業名</th>
        <th style="width: 50%">説明</th>
        <th class="last">市場</th>
    <tr>
    <% @stocks.each do |stock| %>
        <tr class='table-index-tr' data-stockid="<%= stock.id %>", data-href="https://jp.tradingview.com/symbols/<%= stock.market + "-" + stock.code %>/ideas" target="_blank">
            <td><%= image_tag 'machine.jpg' %></td>
            <td><%= stock.code %></td>
            <td><%= stock.client_name %></td>
            <td><%= stock.explain %></td>
            <td><%= stock.market %></td>
        </tr>
    <% end %>
</table>

<%= paginate @stocks %>

<div id="mylist-dropdown">
  <p class="astarisk">ESCで閉じる</p>
  <a href="javascript void(0)" id="trd-idea-link" target="_blank"><p>アイディアを見る</p></a>
  <p class="astarisk">My List</p>
  <div id="mylist-list">
    <% @mylists.each do |mylist| %>
      <p class="add-list" data-stockid="" data-mylistid="<%= mylist.id %>"><%= mylist.name %></p>
    <% end %>
  </div>
  <p class="astarisk">リスト新規</p>
  <p class="list_name_label">名前</p>
  
  <%= form_tag({:controller => '/stock', :action => 'ajax_regist_mylist'}, :remote => true, :class => 'form-ajax') do -%>
    <input type="text" name="list_name" size="25" placeholder="リスト名"　id="list_name_input">
    <input type="hidden" name="stock_id" value="" id="stock_id_for_id">
    <input type="submit" value="登録">
  <% end %>
</div>