
<p>検索</p>
<%= form_tag({ :controller => "/stock", :action => "index" },{ :id => "search_form_id"}) do %>
  <%= text_field_tag :search %>
  <%= submit_tag 'Search', :name => nil %>
<% end %>

<table class='table-stocks'>
    <tr class='table-index-th'>
        <th></th>
        <th>銘柄コード</th>
        <th>企業名</th>
        <th style="width: 50%">説明</th>
        <th>市場</th>
    <tr>
    <% @stocks.each do |stock| %>
        <tr class='table-index-tr' data-href="https://jp.tradingview.com/symbols/<%= stock.market + "-" + stock.code %>/ideas" target="_blank">
            <td><%= image_tag 'machine.jpg' %></td>
            <td><%= stock.code %></td>
            <td><%= stock.client_name %></td>
            <td><%= stock.explain %></td>
            <td><%= stock.market %></td>
        </tr>
    <% end %>
</table>

<div class="pop-box">
  <label for="popup-on"><label for="popup-on"><div class="btn-open"><img src="https://homepagenopro.com/wp-content/uploads/2018/08/d11_img_mizudori.png" alt="" class="layer-img"></div></label>
  <input type="checkbox" id="popup-on">
  <div class="popup">
    <label for="popup-on" class="icon-close">×</label>
    <div class="popup-content">
       <!-- ポップアップの中身 -->
       ポップアップの内容<br>画像もOK<br>
      <img src="https://homepagenopro.com/wp-content/uploads/2018/08/d11_img_mizudori.png" alt="" class="layer-img">
        <!-- ./ポップアップの中身　ここまで -->
    </div>
  </div>
</div>