<!DOCTYPE html>
<html>
  <head>
    <title>TakanikiWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= image_tag 'takaniki.jpg', id: "icon-takaniki", class: "image" %>
          <%= link_to "タカニキの金持ち戦略ch - YouTube", '#', id: "logo" %>
        </div>
      </div>
    </header>
    <div class="container">
      <%= yield %>
      
      <footer class="footer">
        <small>
          The <a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
          by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
        </small>
        <nav>
          <ul>
            <li><%= link_to "About",   '#' %></li>
            <li><%= link_to "Contact", '#' %></li>
            <li><a href="http://news.railstutorial.org/">News</a></li>
          </ul>
        </nav>
      </footer>
    </div>
  </body>

</html>
