<!DOCTYPE html>
<html>
  <head>
    <title>TakanikiWeb</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= image_tag 'takaniki.jpg', id: "icon-takaniki", class: "image" %>
          <%= link_to "タカニキの金持ち戦略ch - YouTube", '#', id: "logo" %>
        </div>
      </div>
    </header>
  </body>
</html>
