<!DOCTYPE html>
<html>
  <head>
    <title>米株を探そう！</title>
    <link rel="shortcut icon" href="favicon.png" type="image/png">
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render :partial => "shared/header" %>
    <%= render :partial => "shared/menu" %>

    <div class="container">
      <%= yield %>

      <%= render :partial => "shared/footer" %>
    </div>
  </body>

</html>
